<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<%= stylesheet_link_tag "welcome", :media => "screen" %>
</head>
<body>
	<img src="https://www.ucatolica.edu.co/portal/wp-content/themes/ucatolica/images/logo.jpg" width="250" height="50">
	<hr>
	<br>
	<a href="Index1.html"><img src="https://www.udesc.br/arquivos/cct/imagens/monitoria_15156115839512_502.jpg" width="300px" height="200" align="left"></a>
	<a href=""><img src="http://umanizales.edu.co/wp-content/uploads/2014/12/21-1170x580.jpg" width="300px" height="200px" align="right"></a>
</body>
</html>